# wallpaper
output * bg /home/hyper/media/images/wallpapers.sync/widescreen/jungle.png fill

# colors
include $subcfgs/colors.dark-mode
# override highlight color for this host
include $subcfgs/colors.gruvbox-core
set $cl_high $bright_green

# class                 border   bground  text     indi     child_border
client.focused          $cl_high $cl_high $cl_back $cl_indi $cl_high
client.focused_inactive $cl_high $cl_gray $cl_high $cl_back $cl_back

# mover mode
include $subcfgs/mode-mover

