# set default mode for ultrawide
output * mode 5120x1440@119.999Hz bg /home/hyper/.config/wallpapers/pixel-warm-gruv.jpg fill

# load default darkmode colors
include $subcfgs/colors.dark-mode

# override highlight color for this host
include $subcfgs/colors.gruvbox-core
set $cl_high $bright_aqua

# # class               border   bground  text     indi     child_border
client.focused          $cl_high $cl_high $cl_back $cl_indi $cl_high
client.focused_inactive $cl_high $cl_gray $cl_high $cl_back $cl_back

# mover mode
include $subcfgs/mode-mover

