# Startup applications
# cute lil startup sound on login
# exec mpv ~/.config/hackers-login.flac &

# start dunst for notifications
exec dunst &
# load sway autostart desktop entries
exec dex --autostart --environment sway
# Idle configuration
exec ~/.config/sway/idle.sh &
# Start focus tracker for focus-prev keybind
exec_always ~/.config/sway/track_prev_focus &
# start 1password
exec "1password"
